/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// more按鈕
a.more {
    display: block;
    width: 10em;
    text-align: center;
    height: 2.5em;
    margin: 0.5em auto 0.5em;
    line-height: 2.5;
    color: $primaryColor;
    border: 1px solid $primaryColor;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    &:after {
        content: '';
        width: 12px;
        height: 12px;
        border: 2px solid #fff;
        transform: rotate(45deg);
        position: absolute;
        right: -10px;
        top: 14px;
        border-left: none;
        border-bottom: none;
        transition: 0.3s ease-out;
    }
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primaryColor;
        -webkit-transform: scale(0);
        transform: scale(0);
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.2s;
        transition-duration: 0.2s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }
    &:hover,
    &:focus,
    &.active {
        color: white;
        &:before {
            -webkit-transform: scale(1);
            transform: scale(1);
        }
        &:after {
            right: 15px;
        }
    }
}

$all: #48a9c5;
$activity: #f48924;
$expo: #0cb9c1;
$lottery: #7552cc;
$vote: #00c16e;
$QA: #f85a40;
$other: #037ef3;

.tags{
    padding-bottom: 2em;
    ul{
        @include li-reset;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        text-align: center;
        li{
            a{
                display: block;
                // background: #ddd;
                position: relative;
                line-height: 3;
                font-size: 1.125em;
                font-weight: bold;
                color: #222;
                &:before{
                    content: "";
                    display: block;
                    width: 100px;
                    height: 100px;
                    background: $primaryColor;
                    border-radius: 50%;
                    transition: .3s; 
                }
                &:after{
                    content: "";
                    position: absolute;
                    width: 56px;
                    height: 56px;
                    top: 22px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                &.all{
                    &:after{
                        background: url(../images/icon_all.svg) 50% 50% no-repeat;
                        background-size: contain;
                    }
                    &:hover, &:focus-visible, &.act{
                        &:before{
                            background: $all;
                        } 
                    }
                }
                &.activity{
                    &:after{
                        background: url(../images/icon_active.svg) 50% 50% no-repeat;
                        background-size: contain;
                    }
                    &:hover, &:focus-visible, &.act{
                        &:before{
                            background: $activity;
                        }
                    }
                }
                &.expo{
                    &:after{
                        background: url(../images/icon_expo.svg) 50% 50% no-repeat;
                        background-size: contain;
                    }
                    &:hover, &:focus-visible, &.act{
                        &:before{
                            background: $expo;
                        }
                    }
                }
                &.lottery{
                    &:after{
                        background: url(../images/icon_lottery.svg) 50% 50% no-repeat;
                        background-size: contain;
                    }
                    &:hover, &:focus-visible, &.act{
                        &:before{
                            background: $lottery;
                        }
                    }
                }
                &.vote{
                    &:after{
                        background: url(../images/icon_vote.svg) 50% 50% no-repeat;
                        background-size: contain;
                    }
                    &:hover, &:focus-visible, &.act{
                        &:before{
                            background: $vote;
                        }
                    }
                }
                &.QA{
                    &:after{
                        background: url(../images/icon_QA.svg) 50% 50% no-repeat;
                        background-size: contain;
                    }
                    &:hover, &:focus-visible, &.act{
                        &:before{
                            background: $QA;
                        }
                    }
                }
                &.other{
                    &:after{
                        background: url(../images/icon_other.svg) 50% 50% no-repeat;
                        background-size: contain;
                    }
                    &:hover, &:focus-visible, &.act{
                        &:before{
                            background: $other;
                        }
                    }
                }
            }
        }
    }
    @include screen('tablet'){
        background: #f4f1ec;
        ul{
            flex-wrap: wrap;
            li{
                a{
                    &:before{
                        transform: scale(.8) translateX(0);
                    }
                    &:after{
                        transform: scale(.8) translateX(-60%);
                    }
                }
            } 
        }
    }
}
.thumbnail_horizontal{
    a.col{
        display: flex;
        flex-wrap: nowrap;
        margin: 2em 0;
        color: #333;
        background: #fff;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 6px;
        overflow: hidden;

        // a{
        //     display: block;
        //     color: #333;
        // }
        @include screen('tablet'){
            flex-wrap: wrap;
            .img-container,
            .info{
                flex: 1 1 100%;
            } 
        }
    }
    .img-container{
        @include aspect-ratio(2,1);
        flex: 0 0 60%;
        max-width: 640px;
        height: 320px;
    }
    .info{
        flex: 1 1 40%;
        padding: 2em;
        time{
            display: block;
            font-weight: bold;
            padding: 1em 0;
        }
        .title, p{
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        .title{
            font-size: 1.5em;
            font-weight: bold; 
            line-height: 1.2;
            -webkit-line-clamp: 2;
        }
        p{
            -webkit-line-clamp: 3;
        }
        .activeTags{
            span{
                font-size: 90%;
                font-weight: bold;
                display: inline-block;
                padding: .25em 1em;
                margin: 2px 0;
                background: pink;
                border-radius: 30px;

                &.activity{
                    background: $activity;
                }
                &.expo{
                    background: $expo;
                }
                &.lottery{
                    background: $lottery;
                    color: #fff;
                }
                &.vote{
                    background: $vote;
                }
                &.QA{
                    background: $QA;
                }
                &.other{
                    background: $other;
                    color: #fff;
                }
            }
        }
    }
    @include screen('tablet') {
        .img-container{
            max-width: 100%;
            height: auto; 
        }
    }
    @include screen('mobile') {
        position: relative;
        z-index: 2;
        &:before{
            content: "";
            position: absolute;
            width: 100%;
            height: 200px;
            background: #f5f1ed;
            left: 0;
            top: -40px;
        }
    }
}

// 範例：
// .demosection {
//     [class^='col'] {
//         border: 2px solid #fff;
//         background: #dedede;
//     }
// }